 <h1>Usuarios Femeninos:</h1>
  <ul>
    {{#each item.[0]}}
      <li>{{first}} {{last}} - {{id}} - {{timestamp}}</li>
    {{/each}}
  </ul>

  <h1>Usuarios Masculinos:</h1>
  <ul>
    {{#each item.[1]}}
      <li>{{first}} {{last}} - {{id}}  - {{timestamp}}</li>
    {{/each}}
  </ul>